@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:wght@700&family=Titillium+Web:wght@200&display=swap');




body {
    overflow: overlay;
    background-color: #54615f;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    
    border: 0;
    box-shadow: none;
    color: yellow;
    background: transparent;
    border-bottom: solid 1px #FFFFFF;

    width: 70%;
    transition: 0.2s ease all;


}


.input:focus {
    outline: none;
    border-bottom: 2px solid yellow;
}

.input:hover {}



.input:hover {
    border-bottom: solid 3px #03fcc6;

}

.input:focus {
    outline: 0;
    border: 0;
    border-bottom: solid 3px #03fcc6;

}

.s1{
    width: 50%;
    float: left;
    

}

.s2{
    width: 30%;
    float: left;
    

}

#chat-win {
    color: white;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    /* Mozilla */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
    -ms-transform: rotateX(180deg);
    /* IE 9+ */
    -o-transform: rotateX(180deg);
    /* Opera */
}

.sub {
    
    height: 98%;
    overflow-y: scroll;
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    /* Mozilla */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
    -ms-transform: rotateX(180deg);
    /* IE 9+ */
    -o-transform: rotateX(180deg);
    /* Opera */
}


#onlist {
    color: #FFEB2A;
   
    
    font-size: 18px;
  
}

.s2p {
    
    height: 50%;
    width:100%;
    overflow-y: scroll;
  
}
