@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@200&display=swap');
@keyframes v{
    0%{opacity: 0;}
    100% {


        opacity: 1;



    }
}

@keyframes v1{
    0%{opacity: 1;}
    100% {


        opacity: 0;

    }
}


#cred{
   font-family: 'Bebas Neue', cursive;
    font-family: 'Titillium Web', sans-serif;position: absolute;
    font-size: 12px;
    text-align: center;
    text-decoration-style: bold;
     
}

body { background: white;
}

.x{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Titillium Web', sans-serif;position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px; 

    animation: v 5s  ;
    animation-iteration-count: 1;

}











.boun{
}


.bb { color: #666;display:inline-block; margin:0; }
.bb:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.bb:hover:after { transform: scaleX(1); }
.bb:after{  transform-origin:  0% 50%; }


.bb2 { color: #666;display:inline-block; margin:0; }
.bb2:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.bb2:hover:after { transform: scaleX(1); }
.bb2:after{  transform-origin:  0% 50%; }




.bb{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    margin-left: 1080px;
    animation: v 5s  ;
    animation-iteration-count: 1;

}
.bb2{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    margin-left: 1170px;
    animation: v 5s  ;
    animation-iteration-count: 1;

}


h1{
   color: white;
   font-size: 100px;
}
